<div class="link-wrapper-mobile">
    <!-- <a href="https://scholar.google.com/citations?user=zR6afi8AAAAJ">[Google Scholar]</a> -->
    <span style="margin-left: 5px;"></span>
    <a href="https://github.com/maarufvazifdar" rel="me">[GitHub]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://www.linkedin.com/in/mohammedmaarufvazifdar/">[LinkedIn]</a>
    <!-- <span style="margin-left: 5px;"></span> -->
    <!-- <a href="https://www.bodunhu.com/blog/">[Blog]</a> -->
    <span style="margin-left: 5px;"></span>
    <a href="https://github.com/maarufvazifdar/faby_sim">[Project Repository - Faby the Telepresence Robot]</a>
</div>