<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color: var(--clr-h1-and-bold);
      text-decoration: none;
    }

    ul.link a:hover,
    a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <div class="module-content">
    <p>College Park, MD, USA</p>
    <ul class="link">
      <p>Contact:
        <a href="mailto:maaruf98@umd.edu">maaruf98@umd.edu</a>
        <a href="mailto:maarufvazifdar@gmail.com">maarufvazifdar@gmail.com</a>
      </p>

      <!-- <li><a href="https://scholar.google.com/citations?user=zR6afi8AAAAJ"><i class="fas fa-user-graduate"></i> Google Scholar</a></li> -->
      <li><a href="https://github.com/maarufvazifdar"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/mohammedmaarufvazifdar/"><i class="fab fa-twitter"></i> LinkedIn</a></li>
      <!-- <li><a href="https://www.bodunhu.com/blog/"><i class="fas fa-feather-alt"></i> Blog</a></li> -->
      <li><a href="https://github.com/maarufvazifdar/faby_sim"><i class="far fa-bookmark"></i> Project Repository
          - Faby the
          Telepresence Robot</a></li>
    </ul>
  </div>