<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color: var(--clr-h1-and-bold);
      text-decoration: none;
    }

    ul.link a:hover,
    a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <div class="module-content">
    <p>College Park, MD, USA</p>

    <ul class="link">
      <p>Contact me:
        <a href="mailto:maarufvazifdar@gmail.com"> maarufvazifdar@gmail.com</a>
        <a href="mailto:maaruf98@umd.edu"> maaruf98@umd.edu</a>
      </p>

      <li><a href="https://github.com/maarufvazifdar"><i class="fab fa-github"></i> GitHub</a></li>

      <li><a href="https://www.linkedin.com/in/mohammedmaarufvazifdar/"><i class="fab fa-linkedin"></i> LinkedIn</a>
      </li>

      <br>
      <p>Project Repositories:</p>
      <p><a href="https://github.com/maarufvazifdar/faby_sim"><i class="far fa-bookmark"></i> Faby - The
          Telepresence
          Robot</a></p>
      <p>
    </ul>
  </div>